<div class="about-section">
  <h1>About Us Page</h1>
  <p>We Have Design This Website For Foody people to Explore.</p>
  <p>You Can get new Dishes and also you can add you Inovation,</p> 
  <p>So people get's new Experience of food.</p> 
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/image/Snapchat-1347537000.jpg" alt="Prasan" style="width:100%">
      <div class="container">
        <h2>Prasan Gupta</h2>
        <p class="title">CEO & Founder</p>
        <p>Ethusiestic and Friendly person</p>
        <p>guptaprasan31@gmail.com</p>
      </div>
    </div>
  </div>
</div>
