<h1 class="pb-4">Explore Latest</h1>

<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(recipie != '' ) { %>
        <% recipie.forEach(function(recipie, index){ %>
            <a href="/recipie/<%= recipie._id %>" class="col text-centre category__link">
                <div class="category__img--large shadow">
                    <img src="/uploads/<%= recipie.image %>" alt="<%= recipie.name %>" style="width:100%"
                        Loading="lazy">
                </div>
                <div class="pt-4">
                    <%= recipie.name %>
                </div>
            </a>
        <% }) %>
    <% } %> 
    
</div>