:root{
    --bs-font-sans-serif:'Rubik'. sans-serif;
}

.container-xxl{ max-width: 1370px;}

body{
    background-image: url("/image/i-like-food.svg");
    background-color: red;
}

a { color: var(--bs-dark); }

/* Category Card */
.category__link{
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
}
.category__link:hover{
    transform: scale(1.1);
}

.category__img{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgb(0,0,0,.16);
    overflow: hidden;
    border-radius: 8px;
}

.category__img--large{
    height: 300px;
    width: 100%;
    object-fit: cover;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    background: #fff;
    padding: 10px 15px;
    color: #34495e;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
    margin-top: 25px;
    text-decoration: none;
    transition: 0.4s;
  }
  
  .button:hover {
    background-color: #555;
    color: #fff;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
 